/ div data-controller="marker" data-action="click->marker#onMarkerClick" data-venue-id="#{venue.id}" class="cursor-pointer"
  = image_tag "marker.svg", height: 30, width: 30, alt: "marker"

= image_tag "marker.svg", height: 30, width: 30, class: "cursor-pointer", alt: "marker"
